/* Replace Logo with jellyfin logo, this should be the last line in CSS */
:root {
    --logo: url("https://cdn.jsdelivr.net/gh/Domme105/dcjelly@refs/heads/main/dclogo.png");
}

.pageTitleWithDefaultLogo {
    background-size: 100% !important;
}

.layout-mobile .pageTitleWithDefaultLogo {
    width: 130px !important;
}

#loginPage .visualLoginForm:not(.hide) h1::before {
  background-size: 50% !important;
}

#loginPage .manualLoginForm:not(.hide) h1.sectionTitle::before {
  background-size: 100% !important;
}
# https://cdn.jsdelivr.net/gh/Domme105/dcjelly@main/dclogo.png
